<div class="week-navigation">
  <button (click)="goToPreviousWeek()">Previous Week</button>
  <span class="current-date">{{ formatDate(currentDate) }}</span>
  <button (click)="goToNextWeek()">Next Week</button>
</div>

<div class="duration-selection">
  <label class="duration-label">Välj längden på massagen:</label>
  <div class="duration-buttons">
    <button [class.selected]="selectedDuration === 30" (click)="selectDuration(30)">30min - 30€</button>
    <button [class.selected]="selectedDuration === 45" (click)="selectDuration(45)">45min - 40€</button>
    <button [class.selected]="selectedDuration === 60" (click)="selectDuration(60)">60min - 50€</button>
  </div>
</div>

<table class="week-table">
  <thead>
    <tr>
      <th *ngFor="let day of daysInWeek" [ngClass]="{'today': isToday(day.date)}">
        {{ day.date | date: 'EEE, d MMM' }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td *ngFor="let day of daysInWeek" [ngClass]="{'today': isToday(day.date)}">
        <div class="time-slots">
          <div *ngFor="let timeSlot of day.timeSlots" class="time-slot" [class.selected]="timeSlot.isSelected" (click)="selectStartTime(day.date, timeSlot.time)">
            {{ timeSlot.time }}
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<form (ngSubmit)="submitBooking()" #bookingForm="ngForm" class="booking-form-container">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required [(ngModel)]="booking.name" #name="ngModel" aria-required="true" placeholder="Enter your name">
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-message">
      <div *ngIf="name.errors">Name is required.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required [(ngModel)]="booking.email" #email="ngModel" aria-required="true" placeholder="Enter your email">
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
      <div *ngIf="email.errors">Email is required.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="phoneNumber">Phone Number</label>
    <input type="tel" id="phoneNumber" name="phoneNumber" required [(ngModel)]="booking.phoneNumber" #phoneNumber="ngModel" aria-required="true" placeholder="Enter your phone number">
    <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="error-message">
      <div *ngIf="phoneNumber.errors">Phone number is required.</div>
    </div>
  </div>
  <div *ngIf="selectedDay" class="form-group">
    <label for="timeLength">Selected time and date</label>
    <p>From {{ selectedDay | date : 'dd/MM/yyyy HH:mm' }} to {{ (endingTime() | date : 'HH:mm') }}</p>
  </div>
  <button type="submit" [disabled]="bookingForm.invalid">Submit Booking</button>
</form>