.week-navigation {
  text-align: center;
  margin-bottom: 20px;
}

.duration-selection {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.week-table {
  width: 100%;
  border-collapse: collapse;
}

.week-table th {
  background-color: #f0f0f0;
  color: #333;
  padding: 10px;
  text-align: center;
}

.week-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  vertical-align: top;
}

.time-slot {
  background-color: #e7f4e4;
  margin: 1px;
  padding: 3px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.time-slot:hover {
  background-color: #cfe8cc;
}

.time-slot.selected {
  background-color: #4CAF50; 
  color: white; 
}

button {
  background-color: #4c84af; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

select {
  padding: 10px;
  font-size: 16px;
}

.duration-buttons button {
  color: #333;
  background-color: #f0f0f0;
  border: 2px solid #d1d1d1;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.duration-buttons button:hover {
  background-color: #e9e9e9;
}

.duration-buttons button.selected {
  background-color: #4CAF50;
  color: white;
  border-color: #3e8e41;
}

.duration-label {
  font-size: 26px;
  margin-right: 10px;
}

.today {
  position: sticky;
  top: 0;
  box-shadow: inset 0 0 3px #000000;
}

/* BOOKING FORM CSS: */

/* Enhancements for the booking form */
.booking-form-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.booking-form-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.booking-form-container input[type="text"],
.booking-form-container input[type="email"],
.booking-form-container input[type="tel"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensures padding does not affect overall width */
}

.booking-form-container button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; /* Larger font size for better readability */
  transition: background-color 0.3s ease;
}

.booking-form-container button[type="submit"]:hover {
  background-color: #45a049; /* Slightly darker green on hover */
}

.error-message {
  color: #d9534f; /* Bootstrap's default error color for better visibility */
  font-size: 14px; /* Smaller font size for error messages */
}

/* Adding a bit of style to the readonly time selection */
.booking-form-container p {
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 4px;
  color: #555;
}

.week-table th {
  position: sticky;
  top: 0;
  background-color: white; /* Ensures the text does not overlap with content below as you scroll */
  z-index: 1; /* This ensures the header is above other content when it sticks. Adjust as necessary. */
}

.container-for-table {
  height: 20rem; /* Example height; adjust based on your needs */
  overflow-y: auto;
}
